/*Aussehen der Elemente*/


body{
    background-image: url(https://wiki.hypixel.net/images/8/81/SkyBlock_renders_locations_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

body::after{
    content: '';
    position: fixed;
    height: 300%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    background-color: black;
    opacity: 0.4;
}

/*Navbar*/
.navbar{
    background-image: url(https://th.bing.com/th/id/OIP.f-bUxApkYVl9bDYyJuWsqgHaEK?rs=1&pid=ImgDetMain);
    background-size: cover;
    box-shadow: 10px 10px 15px black;
}

.navbar a , .dropdown-button{
    color: black;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 5px black;
    border: none;
}

.navbar a:hover{
    box-shadow: 2px 2px 5px white;
}

/*Main Elemente*/

h2, h3{
    -webkit-text-stroke: 1px white;
}

.flex div{
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 5px;
    color: black;
}

.flex div:hover{
    background-color: rgba(255, 255, 255, 0.6);
    
}

/*Impressum*/
footer{
    background-size: cover;
    background-image: url(https://th.bing.com/th/id/OIP.f-bUxApkYVl9bDYyJuWsqgHaEK?rs=1&pid=ImgDetMain) ;
    background-position: 1000%;
    min-height: 15%;
}

footer div{
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 5px;
}

footer div a{
    color: black;
}

/*Impressums Seite*/
#Impressum{
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 5px;
    color: black;
}
