body{
    background-color:  #010803;
}

.navbar{
    background-color: #070c09 ;
    box-shadow: 2px 2px 5px #343434;
    background-size: cover;
}

.navbar a{
    color: white;
    background-color: black;
    position: relative;
    background-size: cover;
    border-style: solid;
    border-color: red;
    border-width: 2px;
}