/*Form und Position der Elemente*/

/*Generelle Regeln*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Navigationsleiste*/
.navbar {
    overflow: hidden;
    column-gap: 20px;
    row-gap: 20px;
    display: flex;
    padding: 5px 5px;
    justify-content: space-between;
}
.navbar a {
    float: left;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
}


/*Schalter für Darkmode*/
.darkmode {
    --width: 70px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    display: inline-block;
    cursor: pointer;
}

.dark_input {
    display: none;
}

.dark_fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 3px 3px 9px black;
    transition: background 0.2s;
}

.dark_input:checked ~ .dark_fill {
    background: #009578;
}

.dark_fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.dark_input:checked ~ .dark_fill::after {
    transform: translateX(var(--height));
}


/*Main Inhalt*/
.main{
    text-align: center;
    margin: auto;
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px 10px;
    align-items: center;
    display: grid;
}

.container{
    align-items: center;
    text-align: center;
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px 10px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    min-width: 60%;
}


/*Farming Talismane*/
.Farming_Talismane , .Mining_Talismane , .Magic_Talismane , .Combat_Talismane , .Foraging_Talismane , .Other_Talismane{
    margin: auto;
    padding: 10px 10px;
    display: block;
    align-items: center;
    min-width: 100%;
    max-width: 100%;
    column-gap: 10px;
}

/*Unterkategorie Andere*/
.Other, .Vaccine{
    column-gap: 10px;
    row-gap: 10px;
    margin: auto;
    padding: 10px 10px;
    align-items: center;
    min-width: 90%
}

.flex{
    min-width: 90%;
    margin: auto;
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
}

.flex div{
    margin: 10px;
    row-gap: 10px;
    column-gap: 10px;
    max-width: 200px;
    display: grid;
    vertical-align: middle;
}

img{
    margin-left: 20% ;
    align-items: center;
    max-width: 100px;
    min-width: 100px;
    min-height: 100px;
    padding: 10px 10px;
    background-size: cover;
}



/*Farben für Textabschnitte*/
.white{
    color: white;
}

.green{
    color: rgb(14, 129, 14);
}

.light_blue{
    color: rgb(36, 137, 170);
}

.light_green{
    color: rgb(47, 180, 47);
}

.yellow{
    color: yellow;
}