/*Form und Position der Elemente*/

/*Generelle Regeln*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Navigationsleiste*/
/*Navigationsleiste*/
.navbar {
    overflow: visible;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    position: fixed;
    min-width: 100%;
    z-index: 99;
}

.navigation {
    column-gap: 20px;
    row-gap: 20px;
}

.navbar a , .navbar .dropdown-button {
    float: left;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
}


/*Dropdown Menu*/
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-button{
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 20px;
}

.dropdown-content{
    overflow: visible;
    position:absolute;
    top: 30px;
    display: none;
    min-width: 100px;
    padding: 10px 0px;
    z-index: 100;
}

.dropdown-content a{
    padding: 12px 12px;
    margin: 2px;
}

.dropdown:hover .dropdown-content{
    display: block;
}


/*Schalter für Darkmode*/
.darkmode {
    --width: 70px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    display: inline-block;
    cursor: pointer;
}

.dark_input {
    display: none;
}

.dark_fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 3px 3px 9px black;
    transition: background 0.2s;
}

.dark_input:checked ~ .dark_fill {
    background: #009578;
}

.dark_fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.dark_input:checked ~ .dark_fill::after {
    transform: translateX(var(--height));
}


/*Hauptseite*/
.main {
    margin: auto;
    align-items: center;
    max-width: 800px;
    text-align: center;
    overflow: hidden;
    padding: 25px 25px;
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
}

.main div {
    margin: auto;
    min-width: 20%;
    min-height: 100px;
    text-align: center;
}

.container {
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    row-gap: 30px;
    column-gap: 30px;
    padding: 30px 30px;
}

.container div {
    align-items: center;
    text-align: center;
    row-gap: 30px;
    column-gap: 30px;
    padding: 30px 85px;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    border-radius: 20px;
}
