/*Form und Position der Elemente*/

/*Generelle Regeln*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Navigationsleiste*/
.navbar {
    overflow: visible;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    position: fixed;
    min-width: 100%;
    z-index: 99;
}

.navigation {
    column-gap: 20px;
    row-gap: 20px;
}

.navbar a , .navbar .dropdown-button {
    float: left;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
}


/*Dropdown Menu*/
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-button{
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 20px;
}

.dropdown-content{
    overflow: visible;
    position:absolute;
    top: 30px;
    display: none;
    min-width: 100px;
    padding: 10px 0px;
    z-index: 100;
}

.dropdown-content a{
    padding: 12px 12px;
    margin: 2px;
}

.dropdown:hover .dropdown-content{
    display: block;
}


/*Schalter für Darkmode*/
.darkmode {
    --width: 70px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    display: inline-block;
    cursor: pointer;
}

.dark_input {
    display: none;
}

.dark_fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 3px 3px 9px black;
    transition: background 0.2s;
}

.dark_input:checked ~ .dark_fill {
    background: #009578;
}

.dark_fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.dark_input:checked ~ .dark_fill::after {
    transform: translateX(var(--height));
}



/*Sidebar*/
/* Sidebar-Container */
.sidebar_container {
    margin-top: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    max-height: 80%;
    color: white;
    z-index: 98; /* Überlagert andere Elemente */
    border-radius: 20px;
}
/* Navigation */
.sidebar_nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 0;
}
/* Menü-Stile */
.sidebar_menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar_item {
    margin: 10px 0;
}

.sidebar_link ,summary {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
    border-radius: 20px;
}



/*Main Inhalt*/
.main{
    margin: auto;
    text-align: center;
    row-gap: 10px;
    column-gap: 10px;
    padding: 100px 10px;
    align-items: center;
    display: grid;
}

.container{
    align-items: center;
    text-align: center;
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px 10px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    min-width: 60%;
    max-width: 80%;
}

.Info{
    min-width: 60%;
    max-width: 60%;
    margin: auto;
    min-height: 160px;
}

#TextureChanger{
    border-radius: 20px;
    padding: 10px 10px;
}


/*Talismane*/
.Farming_Talismane , .Fishing_Talismane , .Mining_Talismane , .Magic_Talismane , .Combat_Talismane , .Foraging_Talismane , .Other_Talismane , .collection{
    margin: auto;
    padding: 10px 10px;
    display: block;
    align-items: center;
    min-width: 100%;
    max-width: 100%;
    column-gap: 10px;
    row-gap: 10px;
    position: relative;
    
}

/*Rüstungen*/
.Combat_Rüstungen , .Farming_Rüstungen , .Mining_Rüstungen , .Foraging_Rüstungen , .Magie_Rüstungen , .Fishing_Rüstungen , .Other_R{
    margin: auto;
    padding: 10px 10px;
    display: block;
    align-items: start;
    min-width: 80%;
    max-width: 80%;
    column-gap: 10px;
    row-gap: 10px;
}

/*Unterkategorie Andere*/
.Family{
    display: block;
    column-gap: 10px;
    row-gap: 10px;
    margin: auto;
    padding: 10px 10px;
    align-items: center;
    min-width: 90%
}

/*Bilder über den Kollektionen*/
.image_cate{
    margin: auto;
    padding: 10px 10px;
    display: block;
    align-items: center;
    max-width: 10%;
    column-gap: 10px;
    row-gap: 10px;
}


/*Die eigentliche Liste*/
.flex{
    min-width: 90%;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}

.flex div{
    margin: 10px;
    row-gap: 10px;
    column-gap: 10px;
    max-width: 200px;
    min-width: 200px;
    display: grid;
    vertical-align: middle;
}

/*Bild*/
img{
    margin-left: 20% ;
    align-items: center;
    max-width: 100px;
    min-width: 100px;
    min-height: 100px;
    padding: 10px 10px;
    background-size: cover;
}


/*Für Bilder mit Link*/
.Clickable_IMG{
    cursor: pointer;
}

.Clickable_IMG:hover{
    background-color: rgba(0, 0, 0, 0.4);
}


/*Impressun*/
footer{
    vertical-align: bottom;
    display: flex;
    overflow: visible;
    padding: 10px 0px;
    min-width: 100%;
    z-index: 99;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
}

footer div{
    margin: auto;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;

}

footer div a{
    text-decoration: none;
}


/*Impressums Seite*/
#Impressum{
    padding: 10px 10px;
    text-align: center;
    min-height: 90%;
    vertical-align: middle;
    margin: auto;
    max-width: 60%;
}


/*Farben für Textabschnitte*/
.white{
    color: white;
}

.green{
    color: rgb(14, 129, 14);
}

.light_blue{
    color: rgb(36, 137, 170);
}

.light_green{
    color: rgb(47, 180, 47);
}

.yellow{
    color: yellow;
}

.red{
    color: red;
}

.gold{
    color: gold;
}

.orange{
    color: orange;
}

.rare{
    color: blue;
}